/assets/*
!/assets/.gitkeep
/vendor/

/protected/runtime/*
!/protected/runtime/.gitkeep
/protected/config/local.php

.idea
*iml

composer.lock

vagrant/.vagrant/*
vagrant/tmp/*
vagrant/Cheffile.lock
